---
title: The World Of Folk And Fairy Tales
layout: default
permalink: /bibliographies/
---
<h1>Annotated Bibliographies</h1>

<div class="card card-nav-tabs card-plain">
  <div class="card-header card-header-primary">
    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link active show" href="#alpha" data-toggle="tab">Sort alphabetically<div class="ripple-container"></div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#author" data-toggle="tab">Sort by author<div class="ripple-container"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body ">
    <div class="tab-content">
      <div class="tab-pane active show" id="alpha">
        {% for bibliographie in site.bibliographies %}
          <div class="teaser-content">
          <h3><a href="{{ bibliographie.url}}" alt="go to the detail page">{{ bibliographie.title }}</a></h3>
          <p><small>Author: <em>{{ bibliographie.author }}</em></small></p>
          <p>{{ bibliographie.content | truncatewords: 50, "..." }}</p>
          <a href="{{ bibliographie.source }}" target="_blank">Source</a>
          </div>
        {% endfor %}
      </div>
      <div class="tab-pane" id="author">
        {% assign sorted_bibliographies = site.bibliographies | sort: "author" %}
        {% for bibliographie in sorted_bibliographies %}
          <div class="teaser-content">
          <h3><a href="{{ bibliographie.url}}" alt="go to the detail page">{{ bibliographie.title }}</a></h3>
          <p><small>Author: <em>{{ bibliographie.author }}</em></small>
          <p>{{ bibliographie.content | truncatewords: 50, "..." }}</p>
          <a href="{{ bibliographie.source }}" target="_blank">Source</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<p>This will be where I put the word doc, make sure to add to assest folder<a href=""></a></p>
