<nav id="main-navigation">
  <a href="{{'/' | relative_url}}" class="btn">Home</a>
  <a href="{{'/africa/' | relative_url}}" class="btn">Africa</a>
  <a href="{{'/asia/' | relative_url}}" class="btn">Asia</a>
  <a href="{{'/australia/' | relative_url}}" class="btn">Australia</a>
  <a href="{{'/europe/' | relative_url}}" class="btn">Europe</a>
  <a href="{{'/northamerica/' | relative_url}}" class="btn">North America</a>
  <a href="{{'/southamerica/' | relative_url}}" class="btn">South America</a>
  <a href="{{'/resources/' | relative_url}}" class="btn">Resources</a>
</nav>
